{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    Estadísticas
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/estadisticas.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/estiloGeneral.css' %}" type="text/css">
{% endblock %}



{% block contenido %}

      <div class="container-fluid fondo">

      <div id="listadoVentas">
        <h2>
          <span class="textoForm">Listado de ventas diarias</span>
        </h2>

      </div>
      <div id="listadoCantidadesPorCadete">
        <h2>
          <span class="textoForm">Listado de cantidades entregadas por el cadete</span>
        </h2>

        <select name="listaCadetes" id="listaCadetes"> <!-- Lista provisional de cadetes -->
            <option value="Gustavo Contreras">Gustavo Contreras</option>
            <option value="Paola Romero">Paola Romero</option>
        </select>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>

{% endblock %}
