{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    Estadísticas
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/estiloGeneral.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estadisticas.css' %}" type="text/css" media="all">
{% endblock %}



{% block contenido %}
      <div class="container-fluid fondo" style="background-image: url({% static 'img/form-difuminado.png' %});">
        <br><br>
      <div id="listadoVentas">
        <h2>
          <span class="textoForm">Listado de ventas diarias</span>
        </h2>
        <form method="POST" name="listarVentasDiarias" action="{% url 'Estadisticas:ListarVentas' %}">
            {% csrf_token %}
          <div class="row">
                    <div class="col-3">
                        <label class="form-label textoForm" class="textoForm">{{formPedidos.Fecha_desde.label}}</label>
                        {{formPedidos.Fecha_desde}}
                    </div>
                    <div class="col-3">
                        <label class="form-label textoForm" class="textoForm">{{formPedidos.Fecha_hasta.label}}</label>
                        {{formPedidos.Fecha_hasta}}
                    </div>
                    <div class="col-4">
                        <input type="submit" class="btn btn-primary" value="Visualizar">
                    </div>
          </div>
      </form>
          {% if pedidos is None %}
            {% else %}
            <div class="text-center col-12 my-3">
            <table class="table-primary table-bordered border-light table-hover textoForm bg-dark">
                <thead>
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Persona</th>
                        <th scope="col">Horario de entrega</th>
                        <th scope="col">Tipo de entrega</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Platos</th>
                        <th scope="col">Cadete a cargo</th>
                    </tr>
                </thead>

                <tbody>
                    {% for pedido in pedidos %}
                    <tr>
                        <th scope="row">{{pedido.id}}</th>
                        <td>{{pedido.Persona.nombre}} {{pedido.Persona.apellido}}</td>
                        <td>{{pedido.horaEntregaDesde}} - {{pedido.horaEntregaHasta}}</td>
                        <td>{{pedido.TipoEntrega.tipoEntrega}}</td>
                        <td>{{pedido.Estado.estadoPedido}}</td>
                        <td>
                            <ul>
                            {% for plato in pedido.platos.all %}
                                <li>
                                    {{plato.nombre}}
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td>{{pedido.Cadete.nombre}} {{pedido.Cadete.apellido}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
          {% endif %}



      </div>
        <br>
        <hr class="featurette-divider">
      <div id="listadoCantidadesPorCadete">
        <h2>
          <span class="textoForm">Listado de cantidades entregadas por el cadete</span>
        </h2>
        <form method="POST" name="listarCantidadEntregadaPorCadete" action="{% url 'Estadisticas:ListarCantidadesEntregadasPorCadete' %}">
            {% csrf_token %}
          <div class="row">
                    <div class="col-2">
                        <label class="form-label textoForm" class="textoForm">{{formCadete.Cadete.label}}</label>
                        {{formCadete.Cadete}}
                    </div>
                    <div class="col-3">
                        <label class="form-label textoForm" class="textoForm">{{formCadete.Fecha_desde.label}}</label>
                        {{formCadete.Fecha_desde}}
                    </div>
                    <div class="col-3">
                        <label class="form-label textoForm" class="textoForm">{{formCadete.Fecha_hasta.label}}</label>
                        {{formCadete.Fecha_hasta}}
                    </div>
                    <div class="col-4">
                        <input type="submit" class="btn btn-primary" value="Visualizar">
                    </div>
          </div>
      </form>
          {% if pedidoCadete is None %}
            {% else %}
            <div class="text-center col-12 my-3">
            <table class="table-primary table-bordered border-light table-hover textoForm bg-dark">
                <thead>
                    <tr>
                        <th scope="col">CUIL</th>
                        <th scope="col">Cadete</th>
                        <th scope="col">Cantidades entregadas</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">{{pedidoCadete.0}}</th>
                        <td>{{pedidoCadete.1}}</td>
                        <td>{{pedidoCadete.2}}</td>
                    </tr>
                </tbody>
            </table>
          </div>
          {% endif %}
        
      </div>
        <br>
        <hr class="featurette-divider">
         <!--
      <div id="listadoViandas">
        <h2>
          <span class="textoForm">Cantidad de viandas</span>
        </h2>
        <form method="GET" name="listarViandas">
            {% csrf_token %}
          <div class="row">
            <div class="col-3">
                        <label class="form-label textoForm" for="fechaDesde3" class="textoForm">Fecha desde</label>
                        <input class="form-control" class="fechaDesde" id="fechaDesde3" name="fechaDesde" type="date" required/>
                    </div>
                    <div class="col-3">
                        <label class="form-label textoForm" for="fechaHasta3" class="textoForm">Fecha hasta</label>
                        <input class="form-control" class="fechaHasta" id="fechaHasta3" name="fechaDesde" type="date" required/>
                     </div>
                    <div class="col-4">
                        <input type="submit" class="btn btn-primary" value="Visualizar">
                    </div>
          </div>
      </form>

      </div>
          <br>
        <hr class="featurette-divider">
      <div id="listadoViandasPorZona">
        <h2>
          <span class="textoForm">Cantidad de viandas entregadas por zona</span>
        </h2>
        <form method="get" name="listarViandasPorZona">
            {% csrf_token %}
            <div class="row">
                <div class="col-2">
                    <select class="form-select" name="listaZona" id="listaZona">
                    {% for zona in zonas %}
                    <option value={{zona.id}}>{{zona.zona}}</option>
                    {% endfor %}
                </select>
                </div>

                <div class="col-8 row">
                    <div class="col-3">
                        <label class="form-label textoForm" for="fechaDesde4" class="textoForm">Fecha desde</label>
                        <input class="form-control" class="fechaDesde" id="fechaDesde4" name="fechaDesde" type="date" required/>
                    </div>
                    <div class="col-3">
                        <label class="form-label textoForm" for="fechaHasta4" class="textoForm">Fecha hasta</label>
                        <input class="form-control" class="fechaHasta" id="fechaHasta4" name="fechaDesde" type="date" required/>
                     </div>
                    <div class="col-4">
                        <input type="submit" class="btn btn-primary" value="Visualizar">
                    </div>
                </div>
            </div>


          </form>

      </div>
          <br>
        <hr class="featurette-divider">
        -->
      <div id="listadoPlatos">
        <h2>
          <span class="textoForm">Listado de platos más solicitados</span>
        </h2>
        <form method="POST" name="listarPlatos" action="{% url 'Estadisticas:ListarPlatosSolicitados' %}">
            {% csrf_token %}
          <div class="row">
                    <div class="col-3">
                        <label class="form-label textoForm" class="textoForm">{{formPlatos.Fecha_desde.label}}</label>
                        {{formPlatos.Fecha_desde}}
                    </div>
                    <div class="col-3">
                        <label class="form-label textoForm" class="textoForm">{{formPlatos.Fecha_hasta.label}}</label>
                        {{formPlatos.Fecha_hasta}}
                    </div>
                    <div class="col-4">
                        <input type="submit" class="btn btn-primary" value="Visualizar">
                    </div>
          </div>
      </form>
          {% if platosSolicitados is None %}
            {% else %}
            <div class="text-center col-12 my-3">
            <table class="table-primary table-bordered border-light table-hover textoForm bg-dark">
                <thead>
                    <tr>
                        <!--
                         (plato.id,plato.nombre, plato.TipoPlato.tipoPlato, plato.Precio.precio, plato.Menu.tipo, cantidadSolicitadaPlato(plato, fecha_desde, fecha_hasta))
                         -->
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo de plato</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Menu</th>
                        <th scope="col">Cantidad solicitada</th>
                    </tr>
                </thead>

                <tbody>
                    {% for plato in platosSolicitados %}
                    <tr>
                        <th scope="row">{{plato.0}}</th>
                        <td>{{plato.1}}</td>
                        <td>{{plato.2}}</td>
                        <td>${{plato.3}}</td>
                        <td>{{plato.4}}</td>
                        <td>{{plato.5}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
          {% endif %}

      </div>
          <br>
        <hr class="featurette-divider">
      <div id="listadoMenu">
        <h2>
          <span class="textoForm">Listado de menús</span>
        </h2>

        <form method="POST" name="listarMenus" action="{% url 'Estadisticas:ListarMenus' %}">
            {% csrf_token %}
          <div class="row">
                    <div class="col-3">
                        <label class="form-label textoForm" class="textoForm">{{formMenus.Fecha_desde.label}}</label>
                        {{formMenus.Fecha_desde}}
                    </div>
                    <div class="col-3">
                        <label class="form-label textoForm" class="textoForm">{{formMenus.Fecha_hasta.label}}</label>
                        {{formMenus.Fecha_hasta}}
                    </div>
                    <div class="col-4">
                        <input type="submit" class="btn btn-primary" value="Visualizar">
                    </div>
          </div>
      </form>
          {% if menus is None %}
            {% else %}
            <div class="text-center col-12 my-3">
            <table class="table-primary table-bordered border-light table-hover textoForm bg-dark">
                <thead>
                    <tr>
                        <th scope="col">Menu</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>

                <tbody>
                    {% for menu in menus %}
                    <tr>
                        <th scope="row">{{menu.0}}</th>
                        <td>{{menu.1}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
          {% endif %}

      </div>

    <br><br><br>
    </div>

{% endblock %}
