{% extends 'base/base.html' %}

{% block title %}
    Menu
{% endblock %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/estiloGeneral.css' %}" type="text/css">
{% endblock %}

{% block contenido %}

    <section id="carrousel">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel"> <!-- Div que encapsula todo el carrousel -->
            <div class="carousel-indicators"> <!-- Los indicadores que pueden verse abajo, indican cual diapositiva esta activa actualmente-->
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
            </div>
            <div class="carousel-inner"> <!-- En este div se encuentran todas las diapositivas-->
              <div class="carousel-item active"> <!-- La primer diapositiva, siempre se la ve cuando se actualiza/refresca la página-->
                <img src="{% static 'img/EL_MEJOR_SABOR.jpg' %}"> <!-- Imagen de fondo de la diapositiva, si se quiere editar recomiendo darle una clase-->

                <!-- Texto que acompaña a la diapositiva, de ejemplo ver la diapositiva 3
                    <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Example headline.</h1>
                        <p>Some representative placeholder content for the first slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                    </div>
                    </div>
                -->

              </div>
              <div class="carousel-item">
                <img src="{% static 'img/chefs.jpg' %}" alt="Chefs de la rotiseria">

                <!-- Texto que acompaña a la diapositiva
                    <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Some representative placeholder content for the second slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                    </div>
                -->

              </div>
              <div class="carousel-item">
                <img src="{% static 'img/TEMPORAL_viandas.jpg' %}" alt="Viandas">


                    <div class="container">
                  <div class="carousel-caption text-end">
                    <h1>Conocé nuestro servicio de viandas</h1>
                    <p>
                        Desde hace tiempo, trabajamos para tu comodidad brindándote viandas aptas para toda
                        la familia, elaboradas con productos de la mejor calidad para llevarte lo mejor a
                        tu mesa. <br>
                        Te ofrecemos:
                    </p> <br><br>
                    <p><a class="btn btn-lg btn-primary" href="#galeriaMenus">Ver opciones</a></p>
                  </div>
                </div>

              </div>
            </div> <!-- Controles para seleccionar la siguiente o anterior diapositiva-->
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>
    <section>
        <div class="container-fluid fondo" style="background-image: url({% static 'img/form-difuminado.png'%});">
            <div class="text-center">
                <h1>
                    <span class="textoForm">{{NOMBRE_MENU}}</span>       <!-- Segun el menú elegido, aca iria el nombre "menú vegetariano o diabetico"-->
                </h1>
            </div>
            <hr class="style2">
            <article>
                <div class="container mt-5 px-4">
                    <div class="text-center">
                        <h2>
                            <span class="textoForm">Entrada</span>
                        </h2>
                    </div>
                    <!-- Entradas -->
                    <div class="col-12">
                        <ul class="list-unstyled" id="listaEntradas">
                            <div class="row">
                                {% for entrada in entradas %}
                                    <div class="col-sm-6 col-md-6 col-lg-4">
                                    <li>
                                        <div class="food-card food-card--vertical">
                                            <div class="food-card_content">
                                                <div class="food-card_title-section">
                                                    <a href="#!" class="food-card_title">{{entrada.nombre}}</a>
                                                    <a href="#!" class="food-card_author">
                                                        {{entrada.descripcionPlato}}
                                                    </a>
                                                </div>
                                                <div class="food-card_bottom-section">
                                                    <hr>
                                                    <div class="space-between">
                                                        <div class="food-card_price">
                                                            <span>{{entrada.Precio.precio}}</span>
                                                        </div>
                                                        <div class="food-card_order-count">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <button class="btn btn-outline-secondary minus-btn" type="button" id="button-addon1"><i class="fa fa-minus"></i></button>
                                                                </div>
                                                                <input type="text" class="form-control input-manulator" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" value="0">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary add-btn" type="button" id="button-addon1"><i class="fa fa-plus"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li> <!-- Aca puede ir cada comida, acompañada de la foto, precio y opcion de pedir-->
                                </div>
                                {% endfor %}
                            </div>

                        </ul>
                    </div>
                </div>
            </article> <!-- Fin de entradas -->
            <hr class="style1">
            <article>
                <div class="container mt-5 px-4">
                    <div class="text-center">
                        <h2>
                            <span class="textoForm">Plato principal</span>
                        </h2>
                    </div>
                    <!-- Platos principales-->
                    <div class="col-12">
                        <ul class="list-unstyled" id="listaPlatosPrincipales">
                            <div class="row">
                                {% for platoPrincipal in platosPrincipales %}
                                <div class="col-sm-6 col-md-4 col-lg-4">
                                    <li>
                                        <div class="food-card food-card--vertical">

                                            <div class="food-card_content">
                                                <div class="food-card_title-section">
                                                    <a href="#!" class="food-card_title">{{platoPrincipal.nombre}}</a>
                                                    <a href="#!" class="food-card_author">{{platoPrincipal.descripcionPlato}}</a>
                                                </div>
                                                <div class="food-card_bottom-section">
                                                    <hr>
                                                    <div class="space-between">
                                                        <div class="food-card_price">
                                                            <span>${{platoPrincipal.Precio.precio}}</span>
                                                        </div>
                                                        {% if user.is_authenticated %}
                                                        <div class="food-card_order-count">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <button class="btn btn-outline-secondary minus-btn" type="button" id="button-addon1"><i class="fa fa-minus"></i></button>
                                                                </div>
                                                                <input type="text" class="form-control input-manulator" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" value="0">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary add-btn" type="button" id="button-addon1"><i class="fa fa-plus"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li> <!-- Aca puede ir cada comida, acompañada de la foto, precio y opcion de pedir-->
                                </div>
                                {% endfor %}

                            </div>

                        </ul>
                    </div>
                </div>
            </article>
            <hr class="style1">
            <article>
                <div class="container mt-5 px-4">
                    <div class="text-center">
                        <h2>
                            <span class="textoForm">Postres</span>
                        </h2>
                    </div>
                    <!-- Postres -->
                    <div class="col-12">
                        <ul class="list-unstyled" id="listaPostres">
                            <div class="row">
                                {% for postre in postres %}
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <li>
                                        <div class="food-card food-card--vertical">
                                            <!--
                                            <div class="food-card_img">
                                                <img src="{% static 'img/tarta-de-cholocolate.jpg' %}" alt="">
                                                <a href="#!"><i class="fa fa-heart"></i></a>
                                            </div> -->
                                            <div class="food-card_content">
                                                <div class="food-card_title-section">
                                                    <a href="#!" class="food-card_title">{{postre.nombre}}</a>
                                                    <a href="#!" class="food-card_author">
                                                        {{postre.descripcionPlato}}
                                                    </a>
                                                </div>
                                                <div class="food-card_bottom-section">
                                                    <hr>
                                                    <div class="space-between">
                                                        <div class="food-card_price">
                                                            <span>${{postre.Precio.precio}}</span>
                                                        </div>
                                                        <div class="food-card_order-count">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <button class="btn btn-outline-secondary minus-btn" type="button" id="button-addon1"><i class="fa fa-minus"></i></button>
                                                                </div>
                                                                <input type="text" class="form-control input-manulator" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" value="0">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary add-btn" type="button" id="button-addon1"><i class="fa fa-plus"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li> <!-- Aca puede ir cada comida, acompañada de la foto, precio y opcion de pedir-->
                                </div>
                                {% endfor %}

                            </div>

                        </ul>
                    </div>
                </div>
            </article>
        </div>


        <script src="{% static 'js/menu.js' %}"></script>

{% endblock %}
