{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    Login
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/estiloGeneral.css' %}" type="text/css">
{% endblock %}
{% block contenido %}
     <div class="container-fluid" id="fondo">

            <section>
            <div class="wrapper bg-white">
                <div class="h2 text-center">
                    El mejor sabor
                </div>
                <div class="h4 text-muted text-center pt-2">
                    ¿Quién está ingresando?
                </div>
                <form action="{% url 'Usuario:login' %}" class="pt-3" method="POST">
                    {% csrf_token %}
                    <div class="form-group py-2">
                        <div class="input-field">
                            <span class="far fa-user p-2">

                            </span>
                            <input type="text" name="username" placeholder="Nombre de usuario" required placeholder="alguien15"> </div>
                    </div>
                    <div class="form-group py-1 pb-2">
                        <div class="input-field">
                            <span class="fas fa-lock p-2">

                            </span>
                            <input type="password" name="password" placeholder="Contraseña" required placeholder="1234"> <button class="btn bg-white text-muted">

                            </button>
                        </div>
                    </div>

                    <div class="d-grid gap-2 d-md-block">
                        <input type="submit" class="btn btn-block text-center my-3">

                        </input>

                    </div>

                    <div class="text-center pt-3 text-muted">
                        Nuevo usuario?
                            <a href="{% url 'Usuario:create' %}">Click aqui</a>
                    </div>
                </form>
            </div>
            </section>


    </div>
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/5703f194c3.js" crossorigin="anonymous"></script>  <!-- Link para utilizar iconos de Font Awesome. Son temporales -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> <!-- Lo que hace que funcione el carrousel, puede ser comentado-->
    <link rel="stylesheet" href="../archivos css/login.css" type="text/css" media="all">
    <link rel="stylesheet" href="../archivos css/barraNavegacion.css" type="text/css">
    <link rel="stylesheet" href="../archivos css/footer.css" type="text/css" media="all">
    <link rel="stylesheet" href="../archivos css/estiloGeneral.css" type="text/css">
    <title>Login</title>
</head>
<body>

</body>
</html>