.image-aboutus-banner {

    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    overflow: hidden;
    width: 100%;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
 }
 .lg-text {
    font-size:52px;
    font-weight: 600;
    text-transform: none;
    color:#fff;
}
 .titulos{
    font-family: 'Dancing Script', cursive;
}

body {
  
    font-family: 'Roboto';
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-style: normal;
    color: #254e47;
    font-size: 16px;

  
}
h1 {
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #000;
}

.paddingTB60 {
    padding-top:60px;
    padding-bottom:60px;
}

.rojo{
    background-color: red;
    color: white;
}
.verde{
    background-color: green;
    color: white;

}
.naranja{
    background-color: orange;
    color: white;
}

.listadoPedidos
{
    background-color: #112723;;
}

.featurette-divider{
	margin: auto;
	color:aliceblue;
}