@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&display=swap');


    /* Remove the navbar's default margin-bottom and rounded borders */ 
    
    .fondo{
      background-color: #08010c;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #08010c;
      padding: 25px;
      font-family: 'Amatic SC', cursive;
      font-size: 150%;
    }

    h1
    {
      font-family: 'Amatic SC', cursive;
      font-size: 500%;
      color: #8d4925
    }

    h2
    {
      font-family: 'Amatic SC', cursive;
      font-size: 300%;
    }

    p{
      font-family: 'Shadows Into Light', cursive;
    }

  #myCarousel{
    margin-bottom: auto;
  }
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }
  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
        }
    }

    .primerDiapositiva{
        background-image: url(./Imagenes/EL_MEJOR\ _SABOR.jpg);
    }

    .imagenMenu{
        height: 140px;
        border-radius: 3em;
        border: 3px dashed rgb(12, 3, 3)
    }
    .imagenPromo{
        width: 100%;
        height: 100%;
        
    }
    html {
      height: 100%;
    }
    body {
      min-height: 100%;
      padding: 0;
      margin-top:20px;
    }

    .featurette-divider{
      margin:auto
    }

    #footerText
    {
      font-family: 'Amatic SC', cursive;
      font-size: 100%;
    }

    
   