<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
</head>
<body>
    <header>
        <div>
            <img src="Imagenes/EL_MEJOR_SABOR.jpg" alt="">
            <h1>EL MEJOR SABOR</h1>
            <nav>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                        <a href="menu.html">Menúes</a>
                        <a href="nosotros.html">Sobre nosotros</a>
                        <a href="login.html">Ingresar</a>
                    </li>
                </ul>
                <form action="#">
                    <input type="text" id="barraBusqueda" placeholder="qué estás buscando?" />
                    <button type="submit">Buscar</button>
                </form>
            </nav><br><br>
        </div>
    </header>
        <h1>
            Ingresar
        </h1>

        <div>
            
            <form action="#">
                <fieldset>
                    <legend>Quién está ingresando?</legend>
        
                    <label for="usuario">Usuario</label>
                    <input type="text" id="usuario" size="10" maxlength="250"  placeholder="alguien15" required> <br><br>
        
                    <label for="contraseña">Contraseña</label>
                    <input type="password" id="contraseña" size="10" maxlength="250"  placeholder="1234" required> <br><br>
        
                </fieldset> <br><br>
            </form>
            <input type="submit" name="ingresar" id="ingresar" value="Ingresar"> <br><br>

            <h4>Nuevo usuario? <a href="registroCliente.html">Click aquí</a> </h4>
            
        </div>
</body>
</html>