<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../archivos css/nosotros.css" type="text/css" media="all">
    <title>Sobre nosotros</title>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">   <!-- Barra de navegacion, la clase "fixed-top" mantiene fija la barra sin importar donde este situado el usuario-->
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">El mejor sabor</a> <!-- Nombre/Logo de la marca-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button> <!-- Opcion que aparece en resoluciones menores, permite abrir lista deplegable con las opciones de Home, Sobre nosotros, etc.-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                    
                    <form class="d-flex me-auto"> <!-- Busqueda -->
                        <div class="input-group rounded">
                            <input type="search" class="form-control rounded" placeholder="Qué estas buscando?" aria-label="Search" aria-describedby="search-addon" /> <!-- Barra de busqueda -->
                            <button class="btn-lg " type="submit">
                                <span class="input-group-text" id="search-addon"> <!-- Imagen de busqueda (boton incorporado). Actualmente no funciona la imagen -->
                                    <i class="fa fa-search"></i> <!-- Logo de Font Awesome -->
                                  </span>
                            </button>
                            
                          </div>
                        <!-- Carrito. Por el momento no se puede visualizar correctamente
                            <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                            </button>
                        -->
                    </form>
    
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">    <!-- Lista con las opciones de la barra de navegacion-->
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item dropdown"> <!-- Lista deplegable de menús, solo funciona con bootstrap.bundle.min.js. Si queres activarla, debes sacar el comentario que rodea a la etiqueta link más arriba -->
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menús</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">Normal</a></li>
                                <li><a class="dropdown-item" href="#!">Apto para celíacos</a></li>
                                <li><a class="dropdown-item" href="#!">Recomendado para diabeticos</a></li>
                                <li><a class="dropdown-item" href="#!">Veggie</a></li>
                                <!-- <li><hr class="dropdown-divider" /></li> --> <!-- Esta opcion es para mostrar una linea divisoria entre las opciones de la lista deplegable, puede ser util en otra situacion -->
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#!">Sobre nosotros</a></li>
                        <li class="nav-item">
                            <div class="input-group">
                                 <!-- Logo de login <i class="fa fa-sign-in" aria-hidden="true"></i> -->
                                <a class="nav-link" href="#!">Ingresar</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
          </nav>
    </header>

    <div class="image-aboutus-banner"style="margin-top:70px">
        <div class="container">
         <div class="row">
             <div class="col-md-12">
                <div class="text-center">
                    <h1 class="lg-text titulos">SOBRE NOSOTROS</h1>
                </div>
              
              <!-- <p class="image-aboutus-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  -->
            </div>
         </div>
     </div>
     </div>
     <!--
        <div class="bread-bar">
             <div class="container">
                 <div class="row">
                     <div class="col-md-8 col-sm-6 col-xs-8">
                         <ol class="breadcrumb">
                             <li><a href="index.html">Home</a></li>
                             <li class="active">About Us</li>
                         </ol>
                     </div>
                     <div class="col-md-4 col-sm-6 col-xs-4">
                     </div>
                 </div>
               </div>
         </div>
     -->
     
     <div class="aboutus-secktion paddingTB60">
         <div class="container">
             <div class="row">
                        <!-- 
                         <div class="col-md-6">
                             <h1 class="strong">SOBRE NOSOTROS:</h1>
                             <p class="lead">This is the world's leading portal for<br>easy and quick </p> 
                         </div>  -->
                         <div class="col-12">
                            <p>
                                Somos un grupo de personas dedicado a brindarte a vos y a tu familia comida rica, sana y con
                                el toque casero que nos caracteriza. <br>
                                Llevamos varios años en el rubro, y nos seguimos capacitando de forma constante para que 
                                a tu mesa llegue lo mejor.
                            </p>
                         </div>
     </div>
         </div>
     </div>
     <div class="container team-sektion paddingTB60">
         <div class="row">
             <div class="site-heading text-center">
                             <h3>Nuestro staff</h3>
                             <div class="border"></div>
                         </div>
         </div>
        <div class="row  team-box">
            <div class="team-img thumbnail">
                <div class="text-center">
                    <img src="../Imagenes/staff.jpeg">
                </div>
                
            </div>
        </div>
        
     </div>
     

     <footer>
        <footer class="container"> <!-- Footer correspondiente -->
            <p class="float-end"><a href="#">Volver al inicio</a></p>
            <p>© 2022 Rotiseria El Mejor Sabor © <br> <a href="#">Privacidad</a> · <a href="#">Terminos y condiciones</a></p>
          </footer>
    </footer>
</body>
</html>