{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    Estado de pedidos
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/estadoPedidos.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/estiloGeneral.css' %}" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
{% endblock %}
{% block contenido %}
    <div>
        <div class="image-aboutus-banner fondo" style="margin-top:70px; background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url({% static 'img/frente-nosotros.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h1 class="lg-text titulos">Listado de pedidos</h1>
                        </div>

                    <!-- <p class="image-aboutus-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  -->
                    </div>
                </div>
            </div>
         </div>
         <hr class="featurette-divider">
         <div class="aboutus-secktion paddingTB60 listadoPedidos">
             <div class="container" id="listaPedidos">
                 {% for pedido in pedidos %}
                    <ul class="list-group list-group-horizontal">
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-60 justify-content-between">
                          <h5 class="mb-1">{{pedido.Persona.nombre}} {{pedido.Persona.apellido}}</h5>
                          <small class="text-muted">{{pedido.fechaPedido}}</small>

                        </div>
                        <div class="d-flex w-60 justify-content-between">
                            <p class="mb-1">Pollo a la crema c/ guarnición</p>
                            <small class="text-muted">Tiempo de entrega estimado</small>
                        </div>
                        <div class="d-flex w-60 justify-content-between">
                            <small class="text-muted">{{pedido.TipoEntrega.tipoEntrega}}</small>
                            <small class="text-muted">{{pedido.horaEntregaDesde}}- {{pedido.horaEntregaHasta}}</small>
                        </div>

                    </a>
                    <li class="list-group-item">
                        <div class="text-center">
                            <select class="mt-2 estadoEntrega"seleccionarEstadoPedido">
                                <option value="Pendiente">Pendiente</option>
                                <option value="En preparación">En preparación</option>
                                <option value="En camino">En camino</option>
                                <option value="Entregado">Entregado</option>
                                <option value="Devuelto">Devuelto</option>
                                <option value="Cancelado">Cancelado</option>
                            </select>
                        </div>

                        <!--<input class="mt-2 estadoEntrega" type="text" placeholder="Comentario"> -->
                    </li>
                </ul>
                 {% endfor %}
             </div>
         </div>
    </div>

    <script src="{% static 'js/estadoPedidos.js' %}" type="text/javascript"></script>
{% endblock %}-
