.image-aboutus-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../Imagenes/frente-nosotros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    overflow: hidden;
    width: 100%;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
 }
 .lg-text {
    font-size:52px;
    font-weight: 600;
    text-transform: none;
    color:#fff;
}
 .titulos{
    font-family: 'Dancing Script', cursive;
}

body {
  
    font-family: 'Roboto';
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-style: normal;
    color: #494949;
    font-size: 16px;
  
}
h1 {
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #000;
}

.paddingTB60 {
    padding-top:60px;
    padding-bottom:60px;
}