@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&display=swap');

footer {
    background-color: #08010c !important;
    padding: 25px !important;
    font-family: 'Amatic SC', cursive !important;
    font-size: 150% !important;
    width: 100%;
}


#footerText
{
    font-family: 'Amatic SC', cursive !important;
    color: #8d4925;
}

.featurette-divider{
	margin-top: auto;
	color:aliceblue;
}