{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    Registrar plato
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/registro.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/estiloGeneral.css' %}" type="text/css">
{% endblock %}


{% block contenido %}

    <div class="container-fluid  fondo" style="background-image: url({% static 'img/form-difuminado.png' %});">
        <hr class="featurette-divider">
        <div class="container mt-5 px-4">
                <div class="text-center" id="limite">
                    <h1>
                        <span class="textoForm">Registrar nuevo plato</span>
                    </h1>
                </div>
            <div class="px-5 ">
                <form id="registrarPlato" action="{% url 'Plato:registrar' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="row">
                                <div class="col-3"></div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        {% if field.error %}
                                        <span class="textoForm">
                                            {{ field.errors }}
                                        </span>
                                        {% endif %}

                                        <label class="textoForm" for="{{ field.auto_id }}">{{ field.label }}</label>
                                        {{ field }}
                                    </div>
                                </div>
                                <div class="col-3"></div>
                            </div>
                    {% endfor %}
                    <div class="text-center">
                        <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}
