{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    Registrar plato
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/registro.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/estiloGeneral.css' %}" type="text/css">
{% endblock %}


{% block contenido %}

    <div class="container-fluid  fondo" style="background-image: url({% static 'img/form-difuminado.png' %});">
        <hr class="featurette-divider">
        <div class="container mt-5 px-4">
                <div class="text-center" id="limite">
                    <h1>
                        <span class="textoForm">Registrar nuevo plato</span>
                    </h1>
                </div>
            <div class="px-5 ">
                <div class="text-center">
                    <h3>
                        <span class="textoForm">Datos del plato</span>
                    </h3>
                </div>
                <form id="contactForm" action="#">
                    <div class="row">
                        <div class="col-2">
                            <div class="mb-3">
                                <label class="form-label textoForm" for="codigoPlato">Codigo</label>
                                <input class="form-control" type="number" id="codigoPlato" name="codigoPlato" min="0" required>

                            </div>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-3">
                            <div class="mb-3">
                                <label class="form-label textoForm" for="nombreDelPlato">Nombre del plato</label>
                                <input class="form-control" id="nombreDelPlato" type="text" placeholder="Nombre del plato" required />
                                <div class="invalid-feedback" data-sb-feedback="nombreDelPlato:required">Nombre del plato is required.</div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-3">
                                <label class="form-label textoForm" for="tipoDePlato">Tipo de plato</label>
                                <select class="form-select" id="tipoDePlato" aria-label="Tipo de plato">
                                    <option value="Entrada">Entrada</option>
                                    <option value="Plato principal">Plato principal</option>
                                    <option value="Postre">Postre</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-3">
                            <div class="mb-3">
                                <label class="form-label d-block "><span class="textoForm">Vigencia</span></label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input " id="si" type="radio" name="vigencia" data-sb-validations="" />
                                    <label class="form-check-label textoForm" for="si">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="no" type="radio" name="vigencia" data-sb-validations="" />
                                    <label class="form-check-label textoForm" for="no">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-3">
                                <label class="form-label textoForm" for="tipoDeMenu">Tipo de menú</label>
                                <select class="form-select" id="tipoDeMenu" aria-label="Tipo de menú">
                                    <option value="Normal">Normal</option>
                                    <option value="Celíaco">Celíaco</option>
                                    <option value="Vegetariano">Vegetariano</option>
                                    <option value="Diabetico">Diabetico</option>
                                </select>
                            </div>
                        </div>
                    </div>





                    <div class="text-center">
                        <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}
